/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.highlight{
    background-color:white;
    
    z-index: scale(2.01);
    transform:scale(1.01);
  }